# unpacked plugin folders
plugins/**/*

# DBMigrate plugin: generated SQL
*.sql

files/*.*


# Railo Web Context Password file & cached classes & temp files
WEB-INF

# Other files and folders to ignore
*.DS_Store
*.log
*.log.*
log/access.log
*.metadata
*.project